*{
    margin: 0;
    padding: 0
}
.App {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
  }
body{
    font-family: 'GeosansLight';
    font-size: 1.2em;
}
nav{
    font-family: 'Raleway-Bold';
    font-size: 12px;
}
header{
    font-family: 'Raleway-Light';
    font-size: 13px
}
/* FONTS */
@font-face {
    font-family:'Raleway-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Raleway-Bold_0.ttf'), url('../fonts/Raleway-Bold_0.ttf') format('woff');
}
@font-face {
    font-family:'Raleway-Light';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Raleway-Light_0.ttf'), url('../fonts/Raleway-Light_0.ttf') format('woff');
}
@font-face {
    font-family: 'GeosansLight';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/GeosansLight.woff'), url('../fonts/GeosansLight.woff') format('woff');   
}
/* FONTS */
/* label{
    margin-left: 1em;
    margin-right: 1em
} */
.flex{
    display: flex
}
.flexCenter{
    justify-content: center
}
.inline-flex{
    display: inline-flex
}
.between{
    justify-content: space-between
}
.around{
    justify-content: space-around;
}
.flex-column{
    flex-direction: column
}
.center{
    text-align: center;
}
.justify{
    text-align: justify
}
.alignSelCenter{
    align-self: center
}
.rigth{
    display: flex;
    justify-content: flex-end
}
.w10{
    width: 10%
}
.w40{
    width: 40%;
}
.w30{
    width: 30%
}
.w35{
    width: 35%;
}
.w45{
    width: 45%
}
.w50{
    width: 50%
}
.w65{
    width: 65%
}
.w25{
    width: 25%
}
.w70{
    width: 70%
}
.w80{
    width: 80%
}
.w100{
    width: 100%
}
.h80{
    height: 80%;
}
.h90{
    height: 90%;
}
.h100{
    height: 100%;
}
.h13px{
    height: 13px;
}
.h120px{
    height: 120px;
}
.h500px{
    height: 500px;
}
.h300px{
    height: 300px;
}
.black{
    background-color: black
}
.white{
    background-color: white
}
.gray{
    background-color: #F1F1F1
}
.red{
    background-color: pink;
}
.bd-bottom{ 
    border-bottom: 1px solid #b4b0b0; 
}
.bd-top{ 
    border-top: 1px solid #b4b0b0; 
}
.content-center{
    justify-content: center
}
.color-black{
    color: black
}
.color-white{
    color: white;
}
.fndo-img1{
    background-image: url("../img/fondo-celeste.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: 100%;
}
.fndo-img2{
    background-image: url("../img/INTERIOR01.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: 58%;
}
/* .fndo-img3{
    background-image: url("../img/Fondo-Certificaciones.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: 100%;
} */
.interline{
    font-size: 14px;
    line-height: 1em;
}
.interline1{
    line-height: 1.2em;
}
.interline2{
    line-height: 1.5em;
}
.mL-R-10{
    margin-left: 10%;
    margin-right: 10%;
}
.input-suscribete{
    font-size: 10px;
    margin: 1em
}
.text-size12{
    font-size: 12px
}
.text-size13{
    font-size: 13px
}
.text-size14{
    font-size: 14px
}
.text-size16{
    font-size: 16px
}
.text-size18{
    font-size: 18px
}
.text-size27{
    font-size: 27px
}
.spacing4{
    letter-spacing: 4px;
}
.spacing3{
    letter-spacing: 3px
}
.allCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contCenter{
    display: flex;
    justify-content: center
}
.vh100{
    height: 100vh;
}
.vhw50{
    height: 50vh;
    width: 50vw
}
.pad-l-8{
    padding-left: 8%;
}
/* MOTIVOS */

.flexWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.flexWrap .item {
	flex: 1 0 50%;
    box-sizing: border-box;
    color: #171e42;
    padding: 4%;
}
.p-motivos{
    margin: 1em;
    margin-bottom: 0;
    text-align: left
}

  /* MOTIVOS */
  .box { 
    margin: 0px;
    border: 0.1px solid rgb(105, 104, 104) 
  }
.logoPremios{
  background-color: rgb(243, 221, 160);
  height: 258px;
  width: 276px;
}
.logoCic{
  /* background-color: rgb(170, 242, 245);
  height: 258px;
  width: 258px; */
  border-radius: 50%;
}
.mL-R10{
    margin-left: 10%;
    margin-right: 10%;

}
.logo{
    margin-right: 0
}


.fndo-5cs{
    background-image: url("../img/5cs.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom;
    background-position-x: left;
}
.b-all{
    border: 0.1px solid rgb(105, 104, 104) 
}
.buttonOfNavStyleGray{
    border:none;
    padding: 0.7% !important;
    padding-right: 3% !important ;
    padding-left: 3% !important; 
    font-size: 0.7em;
    background-color:#E6E6E6; 
}
.grayNav{
    background-color:#E6E6E6; 
}

.buttonOfNavStyle{
    border:none;
    padding: 0.7% !important;
    padding-right: 3% !important ;
    padding-left: 3% !important; 
    font-size: 0.7em;
    background-color:#Fff; 
}
.buttonOfNavStyle:focus,.buttonOfNavStyle:active,.buttonOfNavStyleGray:focus,.buttonOfNavStyleGray:active{
    outline:none;
}
.plusSize{
    font-size: 1.5em;
}
.startItem{align-items: start;}
.Pd20{
    padding-top: 6%;
}

.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.fast{
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fadeIn{
    animation-name: fadeIn;
}

.fndo-certificaciones{
    background-color: #e9e9e9;
}
.bg-b1b6ba{
    background-color: #b1b6ba
}
.arrow{
    color: black;
    margin: 0.5em;
}


@media screen and (max-width:480px){
	body {
		font-size:80%;
    } 
    .div-5cs{
        width: 100%;
    }
    p{
        font-size: 100%;
        text-align: justify
    }
    span{
        font-size: 100% !important
    }
    #div-premios{
        width: 100%
    }
    .responsive-certificacion{
        width: 100%;
        flex-direction: column;
    }
    .pad-l-responsive{
        padding-left: 0%;
    }
    .wResponsive100{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .flexWrap .item{
        margin: 0.1rem;
    }
    .flex-Wrap-Responsive {
        flex-wrap: wrap;
        justify-content: center
    }
   .p-motivos{
       text-align: center
   }
   .w50 .pad-l-8{
    padding-left: 0;
    /* padding-left: 20%; */
    margin-bottom: 4%;
   }
}
