*{
    margin: 0;
    padding: 0
}
body{
    font-family: 'GeosansLight';
    font-size: 20px;
}
nav{
    font-family: 'Raleway-Bold';
    font-size: 12px;
}
header{
    font-family: 'Raleway-Light';
    font-size: 13px
}
/* FONTS */
@font-face {
    font-family:'Raleway-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Raleway-Bold_0.ttf'), url('../fonts/Raleway-Bold_0.ttf') format('woff');
}
@font-face {
    font-family:'Raleway-Light';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Raleway-Light_0.ttf'), url('../fonts/Raleway-Light_0.ttf') format('woff');
}
@font-face {
    font-family: 'GeosansLight';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/GeosansLight.woff'), url('../fonts/GeosansLight.woff') format('woff');   
}
/* FONTS */
label{
    margin-left: 1em;
    margin-right: 1em
}
.flex{
    display: flex
}
.between{
    justify-content: space-between
}
.center{
    text-align: center;
}
.justify{
    text-align: justify
}
.rigth{
    display: flex;
    justify-content: flex-end
}
.w40{
    width: 40%;
}
.w30{
    width: 30%
}
.w45{
    width: 45%
}
.w50{
    width: 50%
}
.w70{
    width: 65%
}
.w25{
    width: 25%
}
.h13px{
    height: 13px;
}
.h120px{
    height: 120px;
}
.h500px{
    height: 500px;
}
.black{
    background-color: black
}
.white{
    background-color: white
}
.gray{
    background-color: rgb(202, 199, 199)
}
.red{
    background-color: pink;
}
.bd-bottom{ 
    border-bottom: 1px solid #b4b0b0; 
}
.bd-top{ 
    border-top: 1px solid #b4b0b0; 
}
.content-center{
    justify-content: center
}
.color-black{
    color: black
}
.color-white{
    color: white;
}
.fndo-img1{
    background-image: url("../img/Fondo-Diamantes.png");
    background-repeat: no-repeat;
    height:348px;
    background-size: 150% 106%;
}
.fndo-img2{
    background-image: url("../img/INTERIOR01.jpg");
    background-repeat: no-repeat;
    height:324px;
    background-size: 65% 106%;
}
.interline{
    font-size: 14px;
    line-height: 1em;
}
.interline2{
    line-height: 1.5em;
}
.mL-R-15{
    margin-left: 15%;
    margin-right: 15%;
}
.input-suscribete{
    font-size: 10px;
    margin: 1em
}
.text-size12{
    font-size: 12px
}
.text-size13{
    font-size: 13px
}
.text-size14{
    font-size: 14px
}
.text-size18{
    font-size: 18px
}
.text-size27{
    font-size: 27px
}
.spacing4{
    letter-spacing: 4px;
}
.spacing3{
    letter-spacing: 3px
}
.allCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.vh100{
    height: 100vh;
}
/* MOTIVOS */
.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 20px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .box { margin: 10px; }
 
  /* MOTIVOS */